<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>Confirm Order</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>

        <h1>Thank You For Your Order!</h1>
        <h2 class="red-text">Here's the Lo-Down</h2>

        <div class="order-details">
            <div class="order-number">
              <h3>Order #{{ orderResult?.OrderId }}</h3>
              <p>Pickup Time: {{ orderResult?.Order.PromiseDateTime | date:"E MMM d, yyyy, h:mma" }}</p>
            </div>
            <div class="order-summary">
              <div class="line-items" *ngIf="orderItemsForDisplay">
                <div class="line-item flex-between" *ngFor="let lineItem of orderItemsForDisplay">
                  <div class="item-specifics">
                    <h4 class="title"><span class="quantity">{{ lineItem?.quantity }} x</span> <span class="item-name">{{ lineItem?.name }}</span></h4>
                    <p class="additions small-text" *ngIf="lineItem?.modifiers">
                      <span class="modifier" *ngFor="let mod of lineItem?.modifiers; let last = last;">{{ mod?.name }}<span class="separator" *ngIf="!last">, </span></span>
                    </p>
                    <p class="special-instructions" *ngIf="lineItem?.specialInstructions">{{ lineItem?.specialInstructions }}</p>
                  </div>
                  <div class="item-price">
                    <span class="price">{{ lineItem?.fullPrice | currency }}</span>
                  </div>
                </div>
              </div><!-- /.line-items -->
              <div class="curbside-pickup" *ngIf="orderResult?.Order?.OrderMode === 4">
                <h3 class="details-title">Curbside Pickup</h3>
                <p>Click the button below to call the store and let us know you've arrived!</p>
                <p class="red-button full-width-button">
                  <a href="tel:+1-516-625-3300" class="red-button">Call Us</a>
                </p>
              </div>
              <div class="payment-information" *ngIf="orderResult?.Order?.Payments[0]">
                <h3 class="details-title">Payment Information</h3>
                <div class="payment-details">
                  <div class="card-sprite-wrapper">
                    <p class="card active" [ngClass]="activeCardClass" [title]="paidWithCardType"><span class="visuallyhidden">Image of {{ paidWithCardType }} card.</span></p>
                    <p class="card-name">{{ paidWithCardType }} ending in {{ orderResult?.Order?.Payments[0]?.MaskedCardNumber | noX }}</p>
                  </div>
                </div>
              </div>
              <div class="order-total">
                <div class="flex-between subtotal">
                  <span class="label">Subtotal</span>
                  <span class="value">{{ orderResult?.FinancialSummary?.Subtotal | currency }}</span>
                </div>
                <div class="flex-between">
                  <span class="label">Tax</span>
                  <span class="value">{{ orderResult?.FinancialSummary?.Tax | currency }}</span>
                </div>
                <div class="flex-between total">
                  <span class="label semi-bold">Total</span>
                  <span class="value semi-bold">{{ orderResult?.FinancialSummary?.Total | currency }}</span>
                </div>
              </div>
            </div>
  
            <div class="confirmation-content" [innerHtml]="confirmationContent?.content?.rendered | safeHtml"></div>
  
          </div>

    </ion-list>

</ion-content>

