<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title>Order Confirmed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <div class="confirmation-top">
      <h1>Thank You!</h1>
      <p class="conf-text">Show the confirmation when picking up your order. A confirmation email is being sent to you.</p>
      <div class="order-number">
        <p>Your order number is</p>
        <h3>{{ orderResult?.OrderId }}</h3>
        <p>Your scheduled pickup time is</p>
        <div><h3>{{ orderResult?.Order.PromiseDateTime | date:"h:mma" }} </h3><span>{{ orderResult?.Order.PromiseDateTime | date:"MMM d, yyyy" }}</span></div>
      </div>
    </div>
    <div class="order-details">



        <div class="curbside-pickup" *ngIf="orderResult?.Order?.OrderMode === 4">
          <h3 class="details-title">Curbside Pickup</h3>
          <p>Click the button below to call the store and let us know you've arrived!</p>
          <p class="red-button full-width-button">
            <a href="tel:+1-516-625-3300" class="red-button">Call Us</a>
          </p>
        </div>
        <!--<div class="payment-information" *ngIf="orderResult?.Order?.Payments[0]">
          <h3 class="details-title">Payment Information</h3>
          <div class="payment-details">
            <div class="card-sprite-wrapper">
              <p class="card active" [ngClass]="activeCardClass" [title]="paidWithCardType"><span class="visuallyhidden">Image
                  of {{ paidWithCardType }} card.</span></p>
              <p class="card-name">{{ paidWithCardType }} ending in {{
                orderResult?.Order?.Payments[0]?.MaskedCardNumber | noX }}</p>
            </div>
          </div>
        </div> -->



      <div class="confirmation-content" [innerHtml]="confirmationContent?.content?.rendered | safeHtml"></div>
      <div class="order-summary">
      <div class="line-items" *ngIf="orderItemsForDisplay">
          <div class="line-item flex-between" *ngFor="let lineItem of orderItemsForDisplay">
            <div class="item-specifics">
              <h4 class="title"><span class="quantity">{{ lineItem?.quantity }} x</span> <span class="item-name">{{
                  lineItem?.name }}</span></h4>
              <p class="additions small-text" *ngIf="lineItem?.modifiers">
                <span class="modifier" *ngFor="let mod of lineItem?.modifiers; let last = last;">{{ mod?.name }}<span
                    class="separator" *ngIf="!last">, </span></span>
              </p>
              <p class="special-instructions" *ngIf="lineItem?.specialInstructions">{{ lineItem?.specialInstructions }}</p>
            </div>
            <div class="item-price">
              <span class="price">{{ lineItem?.fullPrice | currency:'USD':'symbol' }}</span>
            </div>
          </div>
        </div><!-- /.line-items -->
        <div class="order-total">
          <div class="flex-between subtotal">
            <span class="label">Subtotal</span>
            <span class="value">{{ orderResult?.FinancialSummary?.Subtotal | currency:'USD':'symbol' }}</span>
          </div>
          <div class="flex-between tax">
            <span class="label">Tax</span>
            <span class="value">{{ orderResult?.FinancialSummary?.Tax | currency:'USD':'symbol' }}</span>
          </div>
          <div class="flex-between total">
            <span class="label semi-bold">Total Paid</span>
            <span class="value semi-bold">{{ orderResult?.FinancialSummary?.Total | currency:'USD':'symbol' }}</span>
          </div>
        </div>
        </div>
    </div>

  </ion-list>

</ion-content>
