<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title>Order History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page" padding>
  <section class="account-section">
    <header class="account-heading">
      <h3>Order History</h3>
    </header>
    <div class="history-wrapper">
      <div class="order" *ngFor="let order of orderHistory">
        <div class="order-detail-wrapper">
          <div class="order-link">
            <p>Order #{{ order?.OrderId }}</p>
          </div>
          <div class="date-time">
            {{ order?.PromiseDateTime | date:"EEE MMM d, yyyy, h:mma" }}
          </div>
        </div>
        <div class="order-summary">
          <div class="order-items small-text">
            <span class="order-item" *ngFor="let item of order?.LineItems; let last = last;">{{ item?.Name }}<span class="separator" *ngIf="!last">, </span></span>
          </div>
          <p class="order-price small-text">{{ order?.TotalAmount | currency:'USD':'symbol' }}</p>
        </div>
      </div>
    </div>
  </section>
</ion-content>
