page-login {

    .login-button {

        margin-top: 50px;
        height: 40px;
        font-weight: 600;
        letter-spacing: 1.4px;
        border-radius: 3px;

    }

    [ion-button][disabled] {
        background: #abadab;
    }
    // ion-item.item.has-error {

    //     .item-inner {
    //         border-color: $error;
    //         ion-label, ion-icon {
    //             color: $error;
    //         }
    //         ion-icon {
    //             position: absolute;
    //             bottom: 0;
    //             right: 0;
    //         }
    //     }
    //     input {
    //         color: $error;
    //     }
    // }
    // .form-control-feedback {
    //     .error-help {
    //         margin-top: 5px;
    //         color: $error;
    //     }
    // }
  h2 {
    line-height: 2.37;
    letter-spacing: 1.8px;
    font-size: 18px;
    font-weight: 700;
    color: rgba(30, 30, 30, 0.99);
    text-transform: uppercase;
    padding-top: 15px;
  }
  p {
    line-height: 1.54;
    letter-spacing: 0.6px;
    color: rgba(30, 30, 30, 0.99);
    font-size: 13px;
    font-weight: 600;
  }
  .bottom-buttons-wrap {
    a {
       font-weight: 700;
    }
  }
}
