page-ourstory {
    .scroll-content {
      padding: 0 !important;
    }
    .extra_text_section {
      padding: 16px;
    }
    .extra_text_section_description{
      font-size: 15px;
      padding: 10px 40px;
      text-align: center;
      @include breakpoint(768px) {
        width: 45%;
        float: right;
      }
      a {
        color: #ff0f1b;
        font-weight: 700;
      }
      .promotion-text {
        letter-spacing: 0.8px;
      }
      .p1 {
        line-height: 25px;
      }
    }
    .center-title {
      position: absolute;
      top: 131px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      text-shadow: 0 1px 10px rgba(0, 0, 0, 0.23);
      color: #fff;
      font-weight: 700;
      font-size: 38px;
      @include breakpoint(768px) {
        font-size: 55px;
        top: 230px;
      }
    }
    p {
      line-height: 30px;
    }
    .image-holder {
      padding: 0 14px;
    }
    .background-section {
      padding: 100px 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      position: relative;
      &:before {
        @extend %overlay;
        background: rgba(0, 0, 0, 0.4);
        @include breakpoint(768px) {
            background: rgba(0, 0, 0, 0.1);
        }
      }
      .content {
        color: #ffffff;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 700;
      }
      .body {
        max-width: 80%;
        @include breakpoint(768px) {
            width: 50%;
        }
      }
      p {
        line-height: 22px;
        font-size: 16px;
        letter-spacing: 0.8px;
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.23);
        @include breakpoint(768px) {
            color: #000;
            text-shadow: none;
        }
      }
      .promotion-text {
          font-size: 20px;
          line-height: 28px;
      }
    }
    
}
.page_content{
    padding: 16px;
    font-size: 15px;   
    letter-spacing: 1px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    color: rgba(30, 30, 30, 0.99);

    .promotion-text{
      @extend %promotion-text;   
    }
    
}

.promotion-text{
    font-size: 18px;
    font-weight: 600;  
    letter-spacing: 1.4px;
}

.extra_text_section{
    font-size: 15px;
    padding: 25px 0 25px 0;
    
}

.page_value{
  letter-spacing: 1.3px;
  text-align: center;
  color: #ff0f1b;
  font-size: 31px;
  font-weight: 700;
}
.clear{clear:both;}

.page_value_content{
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: rgba(30, 30, 30, 0.99);

}

.section_grey{
  max-width: 100%;
  background-color: #ddd;
  padding: 50px 0;
  @include breakpoint(768px) {
    background: url('../assets/images/light-grey-pattern-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image_section{
    padding: 0 20px;
    @include breakpoint(768px) {
      padding-left: 15px;
      padding-right: 15px;
      width: 33.3333%;
      float: left;
    }
}

.img_title{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    color: rgba(30, 30, 30, 0.99);
}

.img_descriptions{
    padding: 3px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: rgba(30, 30, 30, 0.99);
    max-width: 90%;
    margin: 0 auto;
}
.extra_text_section_img{
  @include breakpoint(768px) {
    width: 55%;
    float: left;
  }  
}
.text{
    clear: both;
}

