page-ourstory {
    .scroll-content {
      padding: 0 !important;
    }
    .extra_text_section, .extra_text_section_description {
      padding: 16px;
    }
    .center-title {
      position: absolute;
      top: 25%;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      text-shadow: 0 1px 10px rgba(0, 0, 0, 0.23);
      color: #fff;
      font-weight: 700;
      font-size: 38px;
    }
    p {
      line-height: 30px;
    }
    .image-holder {
      padding: 0 14px;
    }
    .background-section {
      padding: 100px 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 0;
      }
    }
}
.page_content{
    padding: 16px;
    font-size: 15px;   
    letter-spacing: 1px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    color: rgba(30, 30, 30, 0.99);

    .promotion-text{
      text-align: center;
      font-size: 18px;
      font-weight: 700;  
      letter-spacing: 1.4px;
      line-height: 30px;
      margin-top: 40px;
      margin-bottom: 25px;   
    }
    
}

.promotion-text{
    font-size: 18px;
    font-weight: 600;  
    letter-spacing: 1.4px;
}

.extra_text_section{
    font-size: 15px;
    padding: 25px 0 25px 0;
}
.extra_text_section_description{
    font-size: 15px;
}
.page_value{
  letter-spacing: 1.3px;
  text-align: center;
  color: #ff0f1b;
  font-size: 31px;
  font-weight: 700;
}
.clear{clear:both;}

.page_value_content{
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    text-align: center;
    color: rgba(30, 30, 30, 0.99);

}

.section_grey{
  max-width: 100%;
  background-color: #ddd;
  padding: 50px 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image_section{

    padding: 0 20px;
}

.img_title{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    text-align: center;
    color: rgba(30, 30, 30, 0.99);
}

.img_descriptions{
    padding: 3px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: rgba(30, 30, 30, 0.99);
    max-width: 90%;
    margin: 0 auto;
}

.text{
    clear: both;
}

@media screen and (min-width: 768px) {
    .image_section {
        padding-left: 15px;
        padding-right: 15px;
        width: 33.3333%;
        float: left;
        
        
    }
    .extra_text_section_img{
        width: 50%;
        float: left;
    }
    .extra_text_section_description{
        width: 45%;
        float: left;
        margin-left: 2.5%;
        margin-top: 5%;
    }
  }