<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>Menu</ion-title>
        <ion-buttons end *ngIf="currentCustomer">
            <button ion-button icon-only>
                <ion-icon name="history-menu" class="small-icon"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <!-- {{ categories | json }} -->
    <super-tabs id="mainTabs" selectedTabIndex="0" [config]="{ sideMenu: 'left' }" indicatorColor="red" scrollTabs no-shadow (tabSelect)="onTabSelect( $event )" *ngIf="subMenus">
        <super-tab [root]="tab0Root" [rootParams]="{ 'menu' : subMenus }" title="Menu"></super-tab>
        <super-tab *ngFor="let category of subMenus; let i = index" [root]="tab4Root" [rootParams]="{ 'menuItem' : subMenus[i] }" title="{{category.Name}}"></super-tab>
    </super-tabs>
</ion-content>

<ion-footer no-border *ngIf="itemsInBag.length">
    <ion-toolbar color="light" no-padding>
        <div class="button-bag-wrap">
            <button ion-button block color="red" (tap)="openBag('BagPage')" class="button-bag-view">
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col text-right float-right><span>View My Bag</span></ion-col>
                        <ion-col text-left margin-left><span *ngIf="itemsInBag">({{ itemsInBag.length }} Items)</span></ion-col>
                    </ion-row>
                </ion-grid>
            </button>
        </div>
    </ion-toolbar>
</ion-footer>
