page-bag {
    ion-content {
        &.content-md, &.content-ios {
            background: map-get($colors, light);
        }
    }

    .bag-item-name {
        @include breakpoint(600px) {
            font-size: 17px;
        }
    }
    .amounts-charged {
        font-size:      13px;
        letter-spacing: 0.6px;
        color: map-get($colors, black);
        .subtotal, .taxes {
            margin-bottom: 10px;
        }
        .dark {
            background-color: map-get($colors, black);
            margin-bottom: 10px;

        }
        .total {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.8px;

        }

    }

    .checkout-button-wrap {
        margin: 0 2.5%;
    }

    .bag-footer {
        min-height: 100px;
    }

    .empty-bag {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        &-notice {
            font-size: 21px;
            font-weight: 600;
            text-align: center;
        }
    }
    .bag-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 75px;
        height: 150px;
        @include breakpoint(375px) {
            width: 100px;
        }
        @include breakpoint(425px) {
            width: 110px;
        }
        @include breakpoint(600px) {
            width: 125px;
        }
    }
    .bag-item {
    background: map-get($colors, white);
    margin:     20px 0;
    min-height: 150px;
    // max-height: 150px;
    
    &-title {
        // font-size:      14px;
        font-size: 16px;
        font-weight:    700;
        letter-spacing: 1.1px;
        text-align:     left;
        text-transform: uppercase;
        color: rgba(21, 21, 21, 0.9);
        // padding-top: 15px;
        padding-top: 8px;
        @include breakpoint(600px) {
            padding-top: 5px !important;
        }

    }
    &-quantity {
        font-size:      13px;
        font-weight:    700;
        line-height:    1.46;
        letter-spacing: 3px;
        text-transform: lowercase;
    }
    &-image {
        max-height: 150px;
        
    }
    &-edit {
        color: $local-red;
        font-size: 12.5px;
        font-weight: 600;
        line-height: 1.52;
        letter-spacing: 0.8px;
    }
    &-description {
        font-size: 12px;
        font-weight: 600;
        padding-left: 2.5px;
        line-height: 1.3;
        margin-top: 6px;
        letter-spacing: 0.7px;
        color: rgba(30, 30, 30, 0.99);
    }
    &-meta {
        // padding: 10px 0 20px;
        display: flex;
        ion-col.border {
            border-right: 1px solid $light-gray;
        }
        .calories {
            font-weight: 600;
        }
        ion-col {
            span {
                font-size:      12px;
                letter-spacing: 0.9px;
                color:          map-get($colors, black);
            }
            .price {
                padding-left: 0;
                font-weight: 600;
            }
            .add {
                padding-right:  20px;
                text-transform: uppercase;
                color:          $local-red;
                font-size:      12.5px;
                font-weight:    600;
                letter-spacing: 0.8px;
            }
            .allergen {
                span {
                    background: #e1e1e1;
                    border-radius: 50%;
                    width: 20px;
                    padding-left: 1px;
                    padding-top: 1px;
                    margin-right: 2px;
                    height: 20px;
                    display: inline-block;
                    text-align: center;
                    font-size: 14px;
                    color: #1e1e1e;
                    @include breakpoint(375px) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }


    .remove {
        background: $white;
        font-size: 9px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 8px;
        ion-icon.remove-icon {
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 8px;
            font-weight: 700;

        }

    }
    .title-and-description {
        max-width: 333px;
        @include breakpoint(375px) {
          padding-left: 15px;
          padding-right: 8px;
        }
        @include breakpoint(600px) {
            padding-left: 0;
        } 
    }
}
    .button-inner {
      font-weight: 700;
      font-size: 16px;
    }
}
