<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>My Bag</ion-title>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <ion-list class="bag-items" no-margin *ngIf="itemsInBag.length">
        <div class="bag-item" *ngFor="let item of itemsInBag; let i = index">
            <ion-row>
                <ion-col col-4 no-padding>
                    <img *ngIf="item.CartImage" [src]="item.CartImage" alt="bag item" class="bag-item-image" />
                    <div tappable class="remove" (tap)="removeItem( item, i )">
                        <ion-icon name="close" class="remove-icon"></ion-icon>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="bag-item-title">
                        <ion-row>
                            <ion-col col-8>
                                {{ item.Name }}
                                <span class="bag-item-quantity">x{{ item.Quantity }}</span>
                            </ion-col>
                            <ion-col class="bag-item-edit" text-center (tap)="goToItem(item, i)">
                                Edit
                            </ion-col>
                        </ion-row>

                    </div>
                    <p class="bag-item-description">
                        {{ (item.ShortDescription | allergens).description }}
                    </p>
                    <ion-row class="bag-item-meta">
                        <ion-col col-3 class="border">
                            <span class="price">{{ item.ExtendedPrice | currency:'USD':'symbol' }}</span>
                        </ion-col>
                        <ion-col col-4 text-center class="border">
                            <span class="calories" *ngIf="item.caloricValue !== null && item.caloricValue !== 0">{{ item.caloricValue }} cal</span>
                        </ion-col>
                        <ion-col col-5 text-center>
                            <span class="allergen">
                                <span class="allergen" *ngFor="let allergen of (item.ShortDescription | allergens)?.allergens">
                                    {{ allergen }}
                                </span>
                                <!-- <ion-icon name="vegan"></ion-icon>
                                <ion-icon name="paleo"></ion-icon>
                                <ion-icon name="veget"></ion-icon> -->
                            </span>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>
    <ion-list class="amounts-charged" padding *ngIf="itemsInBag.length">
        <!-- <ion-item> -->
        <ion-row class="subtotal">
            <ion-col col-3>
                Subtotal
            </ion-col>
            <ion-col col-9 text-right>
                {{ subtotal | currency:'USD':'symbol' }}
            </ion-col>
        </ion-row>

        <ion-row class="taxes">
            <ion-col col-3>
                Tax
            </ion-col>
            <ion-col col-9 text-right>
                $0.00
            </ion-col>
        </ion-row>
        <hr class="dark">
        <ion-row class="total">
            <ion-col col-3>
                Total
            </ion-col>
            <ion-col col-9 text-right>
                {{ total | currency:'USD':'symbol' }}
            </ion-col>
        </ion-row>
        <!-- </ion-item> -->
    </ion-list>
    <div *ngIf="!itemsInBag.length" class="empty-bag">
        <div>
            <p class="empty-bag-notice">Your bag is empty.</p>
            <p class="empty-bag-notice">
                Go to the <a href="#" class="empty-bag-link" (tap)="backToMenu()">
                    menu
                </a>
                and select your fav!
            </p>
        </div>
    </div>
</ion-content>
<ion-footer no-border class="bag-footer">
    <ion-toolbar color="light" no-padding>
        <div class="bottom-buttons-wrap">
            <div class="checkout-button-wrap" *ngIf="itemsInBag.length">
                <button ion-button block color="red" class="order-now" no-padding>
                    Checkout as Guest
                </button>
            </div>
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="bottom-links-col">
                        <a href="#" class="bottom-link" [navPush]="'LoginPage'">log in</a>
                    </ion-col>
                    <ion-col class="bottom-links-col">
                        <a href="#" class="bottom-link"[navPush]="'SignupPage'">sign up</a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-toolbar>
</ion-footer>
