<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title class="wp-title" *ngIf="pageContent?.title.rendered" [innerHtml]="pageContent?.title.rendered | safeHtml"></ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h2 *ngIf="pageContent?.title.rendered">{{pageContent?.title.rendered}}</h2>
    <span *ngIf="pageContent?.date">{{ pageContent?.date | date:'MMMM d, yyyy' }} </span>
    <img src="{{featuredImage}}" alt="{{pageContent?.title.rendered}}">
    <div class="post-body" *ngIf="pageContent?.content.rendered">
        <p [innerHtml]="pageContent?.content.rendered | safeHtml"></p>
    </div>
    <ul class="social-menu">
        <li class="share-text">Share:</li>
        <li>
            <a class="facebook-share" href="https://www.facebook.com/Lo-cal-kitchen-1642350816029662/" target="_blank" rel="noopener noreferrer">
                <span class="visuallyhidden">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a class="twitter-share" href="https://twitter.com/Lo_cal_Kitchen" target="_blank" rel="noopener noreferrer">
                <span class="visuallyhidden">Share on Twitter</span>
            </a>
        </li>
        <li>
            <a class="instagram-share" href="https://instagram.com/lo_cal_kitchen" target="_blank" rel="noopener noreferrer">
                <span class="visuallyhidden">Share on Instagram</span>
            </a>
        </li>
    </ul>
</ion-content>
