<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>Blogs</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="page" padding>
    <h2>Blogs</h2>
    <div class="blog-post" *ngFor="let post of allBlogPosts">
        <div class="left" *ngIf="post?.featured_media">
          <a (click)="setParams(post)">
            <img src="{{ post?._embedded | featuredImage: 'medium' }}" alt="{{ post?._embedded | featuredImage: 'alt' }}">
          </a>
        </div>
        <div class="right">
          <h3>{{post?.title?.rendered}}</h3>
          <span>{{ post?.date | date:'MMMM d, yyyy' }} </span>
          <div class="excerpt" *ngIf="post?.excerpt" [innerHtml]="post?.excerpt?.rendered | safeHtml"></div>
          <a class="read-more-link" (click)="setParams(post)">Read More</a>
        </div>
    </div>
</ion-content>
