<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title *ngIf="page">{{page.title.rendered}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page" padding>
  <div *ngIf="page">
    <featured-media *ngIf="page.featured_media" [id]="page.featured_media"></featured-media>
    <h2 class="center-title">{{page.title.rendered}}</h2>
    <div class="section section-white" [innerHtml]="page.content.rendered"></div>
    <div class="section food-details">
      <h3 class="section-title" [innerHtml]="page.acf.tbi_title"></h3>
      <div [innerHtml]="page.acf.tbi_body"></div>
      <div class="three-column-data">
        <div class="content-wrapper" *ngFor ="let data of page.acf.tbi_images" >
          <div>
            <img src= {{data.image.url}} >
          </div>
          <h3 [innerHtml]="data.title"></h3>
          <p [innerHtml]="data.description"></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
