<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title *ngIf="page">{{page.title.rendered}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page" padding>
  <div *ngIf="page">
    <featured-media *ngIf="page.featured_media" [id]="page.featured_media"></featured-media>
  

    <div [innerHtml]="page.content.rendered"></div>
    <div [innerHtml]="page.acf.tbi_title"></div>
    <div [innerHtml]="page.acf.tbi_body"></div>

    <div  *ngFor ="let data of page.acf.tbi_images" >
        <div>
            <img src= {{data.image.url}} >
           
          </div>
      <div>
        {{data.title}}
      </div>
      <div>
        {{data.description}}
      </div>
    </div>

  </div>

</ion-content>
