<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title>Catering</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page" padding>
    <div *ngIf="pageContent" class="catering-hero" [ngStyle]="{'background-image': 'url(' + featuredImage + ')'}">
        <h2>{{pageContent?.title.rendered}}</h2>
    </div>

        <div class="section section-white">
          <div class="content center">
            <div class="body center-960" [innerHtml]="pageContent?.content?.rendered | safeHtml"></div>
          </div>
        </div>

        <div class="section section-grey catering-columns" *ngIf="acf?.catering_column">
          <div class="content center">
            <h3 class="title" *ngIf="acf?.title" [innerHtml]="acf?.title"></h3>
            <div class="columns">
              <div class="column" *ngFor="let column of acf?.catering_column">
                <div class="body" [innerHtml]="column?.catering_column_body | safeHtml"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="image-and-text">
          <div class="right">
            <div class="contact-info" [innerHtml]="acf?.right_details | safeHtml"></div>
          </div>
          <div *ngIf="mapImage" class="map-image">
            <img src={{mapImage}} alt="lo-cal map location"/>
          </div>
        </div>
</ion-content>
