page-menu-item {


    .menu-item-header {
        background: url('http://via.placeholder.com/750x600') no-repeat center center;
        height: 300px;
        position: relative;
        .title-box {
            position: absolute;
            bottom: 20px;
            width: 90%;
            height: 150px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(255, 255, 255, .95);
            padding: 10px 15px;
            .menu-item-title {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1.2px;
                text-transform: uppercase;

            }
            .menu-item-description {
                font-size      : 12px;
                line-height    : 1.67;
                letter-spacing : 0.6px;
            }
            .menu-item-meta {
                padding : 10px 0 20px;
                ion-col.border {
                    border-right : 1px solid $light-gray;
                }
                ion-col {
                    span {
                        font-size      : 14px;
                        letter-spacing : 0.9px;
                    }
                    .price {
                        // padding-left: 20px
                    }
                    .add {
                        padding-right  : 20px;
                        text-transform : uppercase;
                        color          : $local-red;
                        font-size      : 12.5px;
                        font-weight    : 600;
                        letter-spacing : 0.8px;
                    }
                    .allergen {
                        ion-icon {
                            color          : $gray;
                            padding-right  : 5px;
                            vertical-align : middle;
                            font-size      : 20px;
                            &:last-child {
                                padding-right : 0;
                            }
                        }
                    }
                }
            }
        }
    }


    ion-navbar,
    ion-tabbar,
    ion-content {
        position: absolute;
        width: 100%;
    }

    ion-navbar {
        z-index: 1000;
        top: 0;
    }

    ion-tabbar {
        z-index: 1000;
        bottom: 0;
    }

    ion-content {
        z-index: 1;
    }

    scroll-content {
        padding-top: $toolbar-ios-height;
        padding-bottom: $toolbar-ios-height;
    }

    .quantity {
        &-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 50px;
        }
        &-number {
            font-size: 18px;
            font-weight: 600;
        }
        ion-icon {

            &:before {
                width: 11px;
                height: 11px;
            }
        }
    }
}
