page-menu-item {

    background-color: #f4f4f4;

    .menu-item-header {
        background: url('http://via.placeholder.com/750x600') no-repeat center center;
        height: 300px;
        position: relative;
        .title-box {
            position: absolute;
            bottom: 20px;
            width: 90%;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(255, 255, 255, .95);
            padding: 10px 15px;

            .menu-item-title {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1.2px;
                text-transform: uppercase;
            }

            .menu-item-description {
                font-size      : 12px;
                line-height    : 1.67;
                letter-spacing : 0.6px;
            }

            .menu-item-meta {
                padding : 10px 0 20px;
                ion-col.border {
                    border-right : 1px solid $light-gray;
                }
                ion-col {
                    span {
                        font-size      : 14px;
                        letter-spacing : 0.9px;
                    }

                    .price {
                        // padding-left: 20px
                    }

                    .add {
                        padding-right  : 20px;
                        text-transform : uppercase;
                        color          : $local-red;
                        font-size      : 12.5px;
                        font-weight    : 600;
                        letter-spacing : 0.8px;
                    }

                    .allergen {
                        ion-icon {
                            color          : $gray;
                            padding-right  : 5px;
                            vertical-align : middle;
                            font-size      : 20px;
                            &:last-child {
                                padding-right : 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .sub-heading {
        background: map-get($colors, light);
        padding: 1em 0;

        p{
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.9px;
            color: map-get($colors, black);
            margin: 0;
        }
    }
    .disabled {
        opacity: .4;
    }
    .enabled {
        opacity: 1;
    }
    .calories {
        padding-top: 10px;
    }
    .choice-controls {
        .quantity-holder {
            display: inline-block;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            padding: 5px;
            background: #fff;
            border: 1px solid #e1e1e1;
            color: #666;
            text-align: center;
            font-size: 18px;
            font-size: 1.125rem;
            transition: all 200ms ease-in-out;
          }
          .populated {
            color: #000;
            border-color: #000;
          }
          ion-icon {
              font-size: 13px;

              padding: 13px 0 15px 0;

              color: #ff0f1b;
          }
          ion-icon[name="minus"] {
              padding-right: 13px;
          }
          ion-icon[name="plus"] {
            padding-left: 13px;
        }
    }

    ion-navbar,
    ion-tabbar,
    ion-content {
        position: absolute;
        width: 100%;
    }

    ion-navbar {
        z-index: 1000;
        top: 0;
    }

    ion-tabbar {
        z-index: 1000;
        bottom: 0;
    }

    ion-content {
        z-index: 1;
    }

    scroll-content {
        padding-top: $toolbar-ios-height;
        padding-bottom: $toolbar-ios-height;
    }

    ion-toolbar.toolbar {
        padding: 0 10px;
    }

    ion-list {
        background: map-get($colors, light);
        padding-bottom: 20px;

        ion-list-header.list-header {
            border-top: none;
            border-bottom: 2px solid #f4f4f4;
        }

        .label {
            color: map-get($colors, black);

            .title {
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.9px;
            }

            .choices {
                font-size: 13px;
                letter-spacing: 0.7px;
                padding-top: 4px;
                float: right;
            }
        }

        ion-item.item, ion-item.item.item-md, ion-item.item.item-ios {
            min-height: 55px;

            .item-inner {
                border-bottom: 2px solid map-get($colors, light);
            }
        }
    }

    .quantity {
        margin: 0 5px;
        p {
            margin: 20px 10px 20px 55px;
        }

        &-title {
            font-size: 21px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        &-number {
            font-size: 18px;
            font-weight: 600;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 100%;
        }

        ion-icon {
            font-size: 12px;
            line-height: 21px;
        }
    }

    .special-instructions {
        background: url('../assets/images/dot-background.png');
        background-size: cover;
        background-position: center;

        p {
            margin: 0;
        }

        ion-textarea {
            border-bottom: 2px solid #979797;
            min-height: 150px;
        }
    }
}
