<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>Reset Your Password</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <h2 class="text-center">Reset Your Password</h2>

        <div *ngIf="passwordSuccess" class="text-center success-text">
            <p>Password successfully changed. <a href="#" [navPush]="'LoginPage'">Click here</a> to return to the login
                form.</p>
        </div>

        <form action="" class="lo-cal-form" [formGroup]="passwordResetForm" (submit)="resetPasswordWithAnswer(passwordResetForm)"
            *ngIf="!switchForms && !passwordSuccess">
        <ion-list>
            <div class="form-errors" *ngIf="errorData?.error">
                <p>Sorry. We did not find a valid account for that username and password.</p>
            </div>
            <div class="form-errors" *ngIf="passwordResetError">
                <p>{{ passwordResetError }}</p>
            </div>
            <div class="form-errors" *ngIf="securityQuestionError">
                <p class="form-errors">{{ securityQuestionError }}</p>
            </div>

            <ion-item [ngClass]="{'has-error' : email.invalid && email.dirty}">
                <ion-label floating>Email</ion-label>
                <ion-icon *ngIf="email.invalid && email.dirty" name="alert" item-right class="has-error"></ion-icon>
                <ion-input no-padding type="text" name="email" id="email" formControlName="email"></ion-input>
            </ion-item>

            <div class="form-control-feedback" *ngIf="email.invalid && email.dirty && submittedOnce">
                <p class="error-help">Please enter a valid email address</p>
            </div>
            <div class="password-reset-wrapper" *ngIf="foundSecurityQuestion">

                <p>{{ securityQuestion }}</p>

                <ion-item [ngClass]="{'has-error' : securityAnswer.invalid && securityAnswer.dirty}">
                    <ion-label floating>Security Answer</ion-label>
                    <ion-icon *ngIf="securityAnswer.invalid && securityAnswer.dirty" name="alert" item-right class="has-error"></ion-icon>
                    <ion-input type="text" name="securityAnswer" id="securityAnswer" formControlName="securityAnswer"></ion-input>
                </ion-item>
                <!-- <div class="form-control-feedback" *ngIf="securityAnswer.invalid && securityAnswer.dirty && submittedOnce">
                    <p class="error-help">This field is required</p>
            </div> -->

                <ion-item [ngClass]="{'has-error' : password.invalid && password.dirty}">
                    <ion-label floating>Password</ion-label>
                    <ion-icon *ngIf="password.invalid && password.dirty" name="alert" item-right class="has-error"></ion-icon>
                    <ion-input type="password" name="password" id="password" formControlName="password"></ion-input>
                </ion-item>
                <!-- <div class="form-control-feedback" *ngIf="password.invalid && password.dirty && submittedOnce">
                    <p class="error-help">This field is required</p>
            </div> -->
                <div class="form-control-feedback" *ngIf="password.invalid && password.dirty">
                    <p class="error-help">Your password needs to be at least 8 characters long, and contain at least
                        one lowercase, one uppercase letter and at least one number.</p>
                </div>

                <ion-item [ngClass]="{'has-error' : confirmPassword.invalid && confirmPassword.dirty}">

                    <ion-label floating>Confirm Password</ion-label>
                    <ion-icon *ngIf="confirmPassword.invalid && confirmPassword.dirty" name="alert" item-right class="has-error"></ion-icon>

                    <ion-input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"></ion-input>
                </ion-item>
                <!-- <div class="form-control-feedback" *ngIf="confirmPassword.invalid && confirmPassword.dirty && submittedOnce">
                    <p class="error-help">This field is required</p>
            </div> -->
                <div class="form-control-feedback" *ngIf="passwordResetForm.hasError('notSame') && confirmPassword.dirty">
                    <p class="error-help">Passwords must match</p>
                </div>


            </div>

            <button ion-button block no-border color="red" *ngIf="!foundSecurityQuestion && !processing" [disabled]="email.invalid"
                (click)="retrieveSecurityQuestion(passwordResetForm.controls['email'].value)" type="submit">Send</button>
            <button ion-button block no-border color="red" *ngIf="foundSecurityQuestion && !processing" [disabled]="!passwordResetForm.valid">Send</button>

            <div class="account-actions single-link text-center">
                <a href="#" (click)="swapForms()">I don't know my security answer.</a>
            </div>
          </ion-list>
        </form>

        <p class="text-center success-text" *ngIf="forcePasswordSuccess">Password reset submitted successfully. Check your email for
            your new password then <a href="#" [navPush]="'LoginPage'">click here</a> to login.</p>

        <form action="" class="lo-cal-form" [formGroup]="forcePasswordResetForm" (submit)="forcePasswordReset(forcePasswordResetForm)"
            *ngIf="switchForms && !forcePasswordSuccess">

            <p class="text-center">Submitting this form will email you a new password.</p>
            <div class="form-errors" *ngIf="forcePasswordError">
                <p>{{ forcePasswordError }}</p>
            </div>

            <ion-item [ngClass]="{'has-error' : forceEmail.invalid && forceEmail.dirty}">
                <ion-label floating>Email</ion-label>
                <ion-icon *ngIf="forceEmail.invalid && forceEmail.dirty" name="alert" item-right class="has-error"></ion-icon>
                <ion-input type="text" name="forceEmail" id="forceEmail" formControlName="forceEmail"></ion-input>
            </ion-item>

            <div class="form-control-feedback" *ngIf="forceEmail.invalid && forceEmail.dirty">
                <p class="error-help">Please enter valid email address</p>
            </div>

            <button ion-button block no-border color="red" *ngIf="!forceProcessing" [disabled]="!forcePasswordResetForm.valid">Send</button>
        </form>

    </ion-list>

</ion-content>
