<!-- <ion-split-pane> -->
<ion-menu type="reveal" side="left" [content]="content" swipeEnabled="false">

  <ion-content class="side-menu-content">
    <ion-list class="menu-list">
      <button menuClose ion-item no-lines detail-none *ngFor="let p of pages" (click)="openPage(p)" [class.active]="p.active">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="loggedInStatus" class="menu-list sub-pages">
      <button class="bottom-links" menuClose ion-item no-lines detail-none color="white" *ngFor="let p of accountPages" (click)="openPage(p)" [class.active]="p.active">
        {{p.title}}
      </button>
    </ion-list>
    <div padding *ngIf="!loggedInStatus">
      <button menuClose="left" ion-button block outline color="white" (click)="pushPage('LoginPage')">Log In</button>
    </div>
    <div padding *ngIf="loggedInStatus">
      <button menuClose="left" ion-button block outline color="white" (click)="logout()">Log Out</button>
    </div>
    <ion-grid padding>
      <ion-row>
        <ion-col col-3>
          <a href="https://www.facebook.com/localkitchenny/" target="_blank" rel="noopener noreferrer">
            <ion-icon name="facebook" class="large-icon" color="white"></ion-icon>
          </a>
        </ion-col>
        <ion-col col-3>
          <a href="https://twitter.com/Lo_cal_Kitchen" target="_blank" rel="noopener noreferrer">
            <ion-icon name="twitter" class="large-icon" color="white"></ion-icon>
          </a>
        </ion-col>
        <ion-col col-3>
          <a href="https://www.instagram.com/lo_cal_kitchen/" target="_blank" rel="noopener noreferrer">
            <ion-icon name="instagram" class="large-icon" color="white"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list class="menu-list sub-pages">
      <button class="bottom-links" menuClose ion-item no-lines detail-none color="white" *ngFor="let page of subPages" (click)="goToSubPage(page)" [class.active]="page.active" href="#">{{page.title}}</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content main></ion-nav>
<!-- </ion-split-pane> -->
