// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .scroll-content {
//   background: linear-gradient(151deg, #fbfbfb, #eeeeee);
// }

@font-face{
    font-family:  'Muli';
    src: url('../assets/fonts/muli300.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family:  'Muli';
    src: url('../assets/fonts/muli400.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family:  'Muli';
    src: url('../assets/fonts/muli700.woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: Muli;
    box-sizing: border-box;
}

.list-ios>.item-block:first-child {
    border-top: none !important;
}

button {
    min-height: 40px;
    padding: 0;
    line-height: 40px;
}

.small-icon {
    font-size: 12px !important;
}

.large-icon {
    font-size: 36px !important;
}

.bar-button {
    min-width: 36px !important;
}

.toolbar-title {
    // text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1px; //   text-align: center;
    color: map-get($colors, text);
}

super-tabs-toolbar>ion-toolbar.toolbar.scroll-tabs .tab-buttons-container .tab-buttons super-tab-button {
    min-width: auto !important;
}

.bottom-links-col {
    text-align: center;
    border-right: 1px solid map-get($colors, light-gray);
    margin-top: 15px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: map-get($colors, dark);
    }
    &:last-child {
        border-right: none;
    }
}

.side-menu-content {
    background: map-get($colors, dark-gray);
}

.menu-list {
    background: transparent;
    margin-top: 15%;
    &.list-ios {
        .item-block:first-child {
            border: none;
        }
        .item-block:last-child {
            border: none;
        }
    }
}

.menu-list .item {
    background-color: transparent;
    border: none;
    color: white;
    .item-inner {
        border: none;
        .label {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            line-height: 2.81;
            letter-spacing: 1.6px;
            text-align: left;
        }
    }
    &.active {
        background-color: map-get($colors, red);
    }
}

.horizontal-scroll-sub {
    height: auto;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
    .item-block {
        padding: 0 !important;
        min-height: 40px !important;
        .item-inner {
            padding: 0;
            .label {
                margin: 0 !important;
            }
        }
    }
}

ion-scroll[scrollX] {
    white-space: nowrap;
    height: 40px;
    overflow: hidden;
    .scroll-item {
        display: inline-block;
        height: 40px;
        padding: 0 20px;
        font-size: 12px;
        color: map-get($colors, text);
        opacity: .4;
        font-weight: 600;
        letter-spacing: 1.7px;
        text-transform: uppercase;
    }
}

::-webkit-scrollbar {
    display: none;
}

.alert-md, .alert-ios {
    .alert-wrapper {
        max-width: 90%;
        .alert-head {
            padding-bottom: 10px;
            .alert-title {
                font-size: 21px;

            }
        }
        .alert-message {
            font-size: 16px;
        }
    }
    .alert-button {
        width: 45%;
        font-size: 18px;
        font-weight: 600;
        &-reject {

        }
        &-accept {
            background: map-get( $colors, red );
            color: white;
        }
        &-reject, &-accept {
            .button-inner {
                justify-content: center;
            }
        }
    }
}
.bottom-links .item-inner .input-wrapper {
    .label {
        font-size: 13px;

    }

}
.sub-pages {
    margin-top: 0;
}
.bag-item {
    background: map-get($colors, white);
    margin:     20px 0;
    min-height: 150px;
    max-height: 150px;

    &-title {
        font-size:      14px;
        font-weight:    600;
        letter-spacing: 1.1px;
        text-align:     left;
        text-transform: uppercase;
        color:          map-get($colors, dark);
        padding-top: 15px;

    }
    &-quantity {
        font-size:      13px;
        font-weight:    600;
        line-height:    1.46;
        letter-spacing: 3px;
        text-transform: lowercase;
    }
    &-image {
        max-height: 150px;
    }
    &-edit {
        color: $local-red;
        font-size: 12.5px;
        font-weight: 600;
        line-height: 1.52;
        letter-spacing: 0.8px;
    }
    &-description {
        font-size: 12px;
        line-height: 1.23;
        letter-spacing: 0.7px;
        color : map-get($colors, dark);
    }
    &-meta {
        // padding: 10px 0 20px;
        display: flex;
        ion-col.border {
            border-right: 1px solid $light-gray;
        }
        ion-col {
            span {
                font-size:      12px;
                letter-spacing: 0.9px;
                color:          map-get($colors, black);
            }
            .price {
                padding-left: 0;
            }
            .add {
                padding-right:  20px;
                text-transform: uppercase;
                color:          $local-red;
                font-size:      12.5px;
                font-weight:    600;
                letter-spacing: 0.8px;
            }
            .allergen {
                span {
                    background: #e1e1e1;
                    border-radius: 50%;
                    width: 23px;
                    height: 20px;
                    display: inline-block;
                    text-align: center;
                    font-size: 14px;
                }
            }
        }
    }

    .remove {
        background: $white;
        font-size: 9px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 8px;
        ion-icon.remove-icon {
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 8px;
            font-weight: 600;

        }

    }
}
