page-intro {

    .scroll-content {
        padding: 0 0 20px 0 !important;
        background: map-get( $colors, light );
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 15px;
        line-height: 1;
        min-height: auto;
    }
    .swiper-pagination-bullet-active {
        background: map-get( $colors, red );
    }

    ion-slides {
        height: 85%;
    }
    .slide-1 {
        // background: url("assets/images/bitmap@3x.png");
    }
    ion-slide {

        .slide-content {
            padding: 0 50px;
            position: relative;
            &.top {
                position : absolute;
                top: 20px;
            }
            &.bottom{
                position: absolute;
                bottom: 40px;
                font-size: 15px;
                line-height: 1.4;
                letter-spacing: 0.6px;
            }
        }
        h1 {
            text-align: left;
            text-transform: uppercase;
            font-size: 45px !important;
            line-height: 52px !important;
            letter-spacing: 2.7px !important;
            font-weight: 700 !important;
            span.red {
                color: map-get( $colors, red );
            }
        }
        p {
          line-height: 1.4;
          letter-spacing: 0.6px;
          text-align: left;
          color: rgba(30, 30, 30, 0.99);
          font-size: 17px;
          font-weight: 700;
          max-width: 290px;
        }
    }
    .bottom-link {
      font-weight: 700;
    }
    button.order-now {
      text-transform: uppercase;
      font-weight: 700;
      height: 40px;
      width: 90%;
      margin: 2% auto;
      border-radius: 3px;
      background-color: rgba(30, 30, 30, 0.99);
      span {
        letter-spacing: 1.4px;
        color: rgba(255, 255, 255, 0.99);
      }
    }
    .slide-image {
      background-position: cover;
      background-repeat: no-repeat;

      background-position: center;
    }
    .slide-1 {
      .slide-image {
        // background-image: url("../../assets/images/slide1@3x.png");
      }
      .slide-content.bottom {
        bottom: 83px;
      }
      .slide-content.top {
        top: 11.5%;
      }
    }
    .slide-2 {
      .slide-image {
        height: 259px;
        background-image: url("../../assets/images/slide-2.jpg");
      }
      .slide-content.bottom {
        bottom: 65px;
      }
      .slide-content.top {
        top: 19%;
      }
    }
    .slide-3 {
      .slide-image {
        height: 259px;
        background-image: url("../../assets/images/slide-3.jpg");
      }
      .slide-content.bottom {
        bottom: 65px;
      }
      .slide-content.top {
        top: 19%;
        padding-left: 20px;
      }
    }
}
