<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="itemsInBag.length">
  <h4>Confirm Pickup info</h4>
  <div class="location-details" [innerHtml]="addressData?.content?.rendered | safeHtml"></div>
  <form class="guest-checkout-form" [formGroup]="guestCheckoutForm" *ngIf="!loggedInStatus">
    <ion-list>
      <ion-item no-padding>
        <ion-label floating>Guest First Name</ion-label>
        <ion-input type="text" formControlName="guest-first-name"></ion-input>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-first-name'].valid && submitAttempted">This
        field is required.</div>
      <ion-item no-padding>
        <ion-label floating>Guest Last Name</ion-label>
        <ion-input type="text" formControlName="guest-last-name"></ion-input>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-last-name'].valid && submitAttempted">This
        field is required.</div>
      <ion-item no-padding>
        <ion-label floating>Guest Email</ion-label>
        <ion-input type="text" formControlName="guest-email"></ion-input>
        <ion-icon *ngIf="!guestCheckoutForm.controls['guest-email'].valid && guestCheckoutForm.controls['guest-email'].dirty"
          name="alert" item-right class="has-error"></ion-icon>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-email'].valid && submitAttempted">Please
        enter valid email address.</div>
      <ion-item no-padding>
        <ion-label floating>Guest Phone</ion-label>
        <ion-input phone type="text" formControlName="guest-phone"></ion-input>
        <ion-icon *ngIf="!guestCheckoutForm.controls['guest-phone'].valid && submitAttempted" name="alert" item-right
          class="has-error"></ion-icon>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-phone'].valid && submitAttempted">Please
        enter valid phone number.</div>
    </ion-list>
  </form>
  <div class="required-message review-errors" *ngIf="timeElapsedError">
    <p>This pickup time is no longer valid. Please select a new time that is more than 25 minutes from now.</p>
  </div>
  <div class="inner-step-wrapper">
    <form action="" class="lo-cal-form" [formGroup]="pickupForm">
      <div class="radio-options flex-between">
        <div class="option">
          <label for="in-store">
            <input type="radio" name="pickup-selection" id="in-store" value="1" formControlName="pickup-selection">
            <span class="default" [ngClass]="{ 'active': pickupForm.controls['pickup-selection'].value === '1' }">In
              Store Pick Up</span>
          </label>
        </div>
        <div class="option">
          <label for="curbside">
            <input type="radio" name="pickup-selection" id="curbside" value="4" formControlName="pickup-selection">
            <span [ngClass]="{ 'active': pickupForm.controls['pickup-selection'].value === '4' }">Curbside
              Pickup</span>
          </label>
        </div>
      </div>
      <div class="required-message review-errors" *ngIf="submitAttempted && !pickupForm.valid">
        <p>Please select a pickup method.</p>
      </div>
      <p class="location-message" *ngIf="pickupForm.controls['pickup-selection'].value === '1'">See you in the store!</p>
      <p class="location-message" *ngIf="pickupForm.controls['pickup-selection'].value === '4'">See you at the
        curbside!</p>
      <div class="car-options" *ngIf="pickupForm.controls['pickup-selection'].value === '4'">
        <div class="form-section half-and-half">
          <div class="form-component form-component-text">
            <label for="vehicle-make" class="visuallyhidden">Vehicle Make</label>
            <input type="text" name="vehicle-make" id="vehicle-make" formControlName="vehicle-make" placeholder="Vehicle Make">
          </div>
          <div class="form-component form-component-text">
            <label for="vehicle-model" class="visuallyhidden">Vehicle Model</label>
            <input type="text" name="vehicle-model" id="vehicle-model" formControlName="vehicle-model" placeholder="Vehicle Model">
          </div>
        </div>
        <div class="form-section half-and-half">
          <div class="form-component form-component-text">
            <label for="vehicle-color" class="visuallyhidden">Vehicle Color</label>
            <input type="text" name="vehicle-color" id="vehicle-color" formControlName="vehicle-color" placeholder="Vehicle Color">
          </div>
        </div>
      </div>
      <div class="next-available-time" *ngIf="selectedTime">
        <p>Pickup at: {{ selectedTime | date:"EEE MMM dd, h:mma" }}</p>
      </div>
    </form>
  </div>

  <form class="pickup-time-form" action="" [formGroup]="timeForm">
    <img src="../../assets/images/left-arrow-red@3x.png" />
    <ion-item no-padding>
      <ion-label>Pickup Time</ion-label>
      <img src="../../assets/images/left-arrow-red@3x.png" />
      <ion-select large name="pickup-time" id="pickup-time" formControlName="pickup-time" [(ngModel)]="timeSelectBox"
        (ngModelChange)="timeSelectChanged()">
        <ion-option value="next">Next Available</ion-option>
        <ion-option [value]="time?.Time" *ngFor="let time of times">{{ time?.Time | date:"h:mma" }}</ion-option>
      </ion-select>
    </ion-item>
  </form>

  <!-- ADD Location to show next-available time before submission -->

  <div class="required-message" *ngIf="submitAttempted && !selectedTime">
    <p>Please select a pickup time.</p>
  </div>
  <div class="red-button full-width-button small-text">
    <button ion-button block color="red" (click)="putOrder()" [ngClass]="{ 'disabled': !timeForm.valid || !selectedTime || (!loggedInStatus && !guestCheckoutForm.valid) || !pickupForm.valid }">Proceed
      to Checkout</button>
  </div>
  </div>
  <p class="empty-bag-message" *ngIf="!itemsInBag.length">There is currently nothing in your bag. Please return to
    <a href="#" (tap)="backToMenu()">our menu.</a>
  </p>
</ion-content>
