page-checkout-review {
    ion-content {
        &.content-md, &.content-ios {
            background: #ffffff;
        }
    }
    .scroll-content {
      padding: 0 !important;
    }
    .required-message {
      color: #ff3b30;
      padding-left: 15px;
      text-align: left;
    }
    .inner-step-wrapper {
      padding-top: 25px;
      text-align: center;
      width: 99%;
    }
    h4 {
      padding: 0 15px 0;
      font-size: 19px;
      font-weight: 700;
      line-height: 2.37;
      letter-spacing: 2px;
      color: rgba(30, 30, 30, 0.99);
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .form-component-text {
      border-bottom: 1px solid black;
      margin-top: 25px;
      padding-bottom: 5px
    }
    .lo-cal-form {
        margin: 0 auto;
    }
    .option  {
        display: inline-block;
      &:first-child {
        margin-bottom: 15px;
      }
      span {
        border-radius: 3px;
        background-color: #f4f4f4;
        opacity: 0.8;
        font-size: 12px;
        line-height: 1.08;
        letter-spacing: 0.7px;
        color: rgba(30, 30, 30, 0.99);
        text-transform: uppercase;
        padding: 15px 16px;
        font-weight: 700;
        &.active {
            background-color: rgba(30, 30, 30, 0.99);
            opacity: 1;
            color: #ffffff;
        }
      }
      input[type=radio]{
        visibility: hidden;
        height: 0;
        width: 0;
      }
    }
    .guest-checkout-form {
      width: 90%;
      margin: 0 auto;
      .label-md {
        font-weight: 700;
        font-size: 13.5px;
        margin-top: 5px;
      }
      ion-icon {
        position: absolute;
    bottom: 0;
    right: 0;
      }
    }
    .form-control-feedback {
      margin: 5px 0;
      color: #ff3b30;
      font-size: 13px;
    }
    .location-message {
      text-align: left;
      padding-left: 15px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1.1px;
      color: rgba(30, 30, 30, 0.99);
    }
    .car-options {
      width: 90%;
      margin: 0 auto;
    }
    .form-component-text {
      text-align: left;
    }
    .location-details {
        p {
          margin: 0;
          padding-left: 15px;
          &:nth-child(4) {
            padding-left: 0;
          }
          &:nth-child(3) {
            font-size: 13px;
            line-height: 1.62;
            letter-spacing: 0.6px;
            color: rgba(30, 30, 30, 0.99);
            padding-bottom: 15px;
          }
        }
        .promotion-text {
          font-size: 19px;
          font-weight: 700;
          letter-spacing: 1.1px;
          color: rgba(30, 30, 30, 0.99);
          padding-bottom: 12px;
        }
        div div {
          padding-left: 15px;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.7px;
          color: rgba(30, 30, 30, 0.99);
          padding-top: 12px;
          a {
            font-weight: 700;
            letter-spacing: 0.7px;
            color: rgba(30, 30, 30, 0.99);
            text-decoration: none;
          }
        }
        img {
          margin: 0;
          width: 100%;
        }
        strong {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.7px;
          text-transform: capitalize;
          padding-bottom: 5px;
          display: inline-block;
        }
    }
    .disabled {
      cursor: default;
      opacity: .4;
    }
    .next-available-time {
      text-align: left;
      font-size: 13.5px;
      font-weight: 700;
      letter-spacing: 0.8px;
      color: rgba(30, 30, 30, 0.99);
      padding-left: 15px;
      margin: 0;
      border-bottom: 1px solid #e1e1e1;
      p {
        margin: 0;
        padding: 19px 0 22px;
      }
    }
    .pickup-time-form {
      position: relative;
      .item-md.item-block .item-inner {
        border-color: #e1e1e1;
      }
      ion-label {
        font-size: 13.5px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: rgba(30, 30, 30, 0.99) !important;
        padding-left: 15px;
      }
      ion-item {
        min-height: 54px;
      }
      ion-select {
        font-size: 14px;
        letter-spacing: 1.2px;
        font-weight: 600;
        color: rgba(30, 30, 30, 0.99);
        .select-icon-inner {
          display: none;
        }
      }
      img {
        position: absolute;
        right: 12px;
        z-index: 1;
        width: auto;
        height: 12px;
        bottom: 22px;
      }
    }
}
