<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
    </button>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>Confirm Pickup info</h4>
  <div class="location-details" [innerHtml]="addressData?.content?.rendered | safeHtml"></div>

  <div class="required-message review-errors" *ngIf="submitAttempted && !pickupForm.valid">
    <p>Please select a pickup method.</p>
  </div>
  <div class="inner-step-wrapper">
    <form action="" class="lo-cal-form" [formGroup]="pickupForm">
      <div class="radio-options flex-between">
        <div class="option">
          <label for="in-store">
            <input type="radio" name="pickup-selection" id="in-store" value="1" formControlName="pickup-selection">
            <span class="default" [ngClass]="{ 'active': pickupForm.controls['pickup-selection'].value === '1' }">In
              Store Pick Up</span>
          </label>
        </div>
        <div class="option">
          <label for="curbside">
            <input type="radio" name="pickup-selection" id="curbside" value="4" formControlName="pickup-selection">
            <span [ngClass]="{ 'active': pickupForm.controls['pickup-selection'].value === '4' }">Curbside
              Pickup</span>
          </label>
        </div>
      </div>
      <p class="location-message" *ngIf="pickupForm.controls['pickup-selection'].value === '1'">See you in the store!</p>
      <p class="location-message" *ngIf="pickupForm.controls['pickup-selection'].value === '4'">See you at the
        curbside!</p>
      <div class="car-options" *ngIf="pickupForm.controls['pickup-selection'].value === '4'">
        <div class="form-section half-and-half">
          <div class="form-component form-component-text">
            <label for="vehicle-make" class="visuallyhidden">Vehicle Make</label>
            <input type="text" name="vehicle-make" id="vehicle-make" formControlName="vehicle-make" placeholder="Vehicle Make*">
          </div>
          <div class="form-component form-component-text">
            <label for="vehicle-model" class="visuallyhidden">Vehicle Model</label>
            <input type="text" name="vehicle-model" id="vehicle-model" formControlName="vehicle-model" placeholder="Vehicle Model*">
          </div>
        </div>
        <div class="form-section half-and-half">
          <div class="form-component form-component-text">
            <label for="vehicle-color" class="visuallyhidden">Vehicle Color</label>
            <input type="text" name="vehicle-color" id="vehicle-color" formControlName="vehicle-color" placeholder="Vehicle Color*">
          </div>
        </div>
      </div>
    </form>
  </div>

  <form action="" [formGroup]="timeForm">
    <ion-label>Choose your pickup time</ion-label>
    <ion-item no-padding>
      <ion-select large name="pickup-time" id="pickup-time" formControlName="pickup-time" [(ngModel)]="timeSelectBox"
        (ngModelChange)="timeSelectChanged()">
        <ion-option value="next">Next Available</ion-option>
        <ion-option [value]="time?.Time" *ngFor="let time of times">{{ time?.Time | date:"h:mma" }}</ion-option>
      </ion-select>
    </ion-item>
  </form>

  <!-- ADD Location to show next-available time before submission -->
  <div class="next-available-time" *ngIf="selectedTime">
    <p><strong>Pickup at: </strong>{{ selectedTime | date:"EEE MMM dd, h:mma" }}</p>
  </div>


  <form (ngSubmit)="checkoutAsGuest()" [formGroup]="guestCheckoutForm" *ngIf="!hideGuestForm">
    <ion-list>
      <ion-item no-padding>
        <ion-label floating>Guest First Name</ion-label>
        <ion-input type="text" formControlName="guest-first-name"></ion-input>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-first-name'].valid && guestCheckoutForm.controls['guest-first-name'].dirty">This
        field is required.</div>
      <ion-item no-padding>
        <ion-label floating>Guest Last Name</ion-label>
        <ion-input type="text" formControlName="guest-last-name"></ion-input>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-last-name'].valid && guestCheckoutForm.controls['guest-last-name'].dirty">This
        field is required.</div>
      <ion-item no-padding>
        <ion-label floating>Guest Email</ion-label>
        <ion-input type="text" formControlName="guest-email"></ion-input>
        <ion-icon *ngIf="!guestCheckoutForm.controls['guest-email'].valid && guestCheckoutForm.controls['guest-email'].dirty"
          name="alert" item-right class="has-error"></ion-icon>
      </ion-item>
      <div class="form-control-feedback" *ngIf="!guestCheckoutForm.controls['guest-email'].valid && guestCheckoutForm.controls['guest-email'].dirty">Please
        enter valid email address.</div>
      <ion-row>

      </ion-row>
    </ion-list>
  </form>

  <ion-row *ngIf="!hideReEnterDetails">
    <ion-col no-padding>
      <button ion-button block no-border color="red" class="login-button" (tap)="reEnterDetails()">
        Re-enter Details
      </button>
    </ion-col>
  </ion-row>


  <div class="red-button full-width-button small-text">
    <button ion-button block color="red" (click)="putOrder()" [disabled]="!timeForm.valid || !selectedTime || !userLoggedIn || !pickupForm.valid">Proceed
      to Checkout</button>
    <div class="required-message" *ngIf="submitAttempted && !selectedTime">
      <p>Please select a pickup time.</p>
    </div>
  </div>

  <p *ngIf="!itemsInBag.length">There is currently nothing in your bag. Please return to
    <a href="#" (tap)="backToMenu()">our menu.</a>
  </p>
</ion-content>
