<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title *ngIf="pageContent?.title.rendered" [innerHtml]="pageContent?.title.rendered | safeHtml"></ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="page" padding>
    <div *ngIf="featuredImage" class="contact-hero" [ngStyle]="{'background-image': 'url(' + featuredImage + ')'}">
        <h2>{{pageContent?.title.rendered}}</h2>
    </div>

    <div class="section section-white">
        <div class="content center">
            <div class="body center-960" *ngIf="pageContent?.content?.rendered" [innerHtml]="pageContent?.content?.rendered | safeHtml"></div>
        </div>
    </div>

    <div class="section section-white">
        <div class="content center">
            <form action="" [formGroup]="contactForm" class="lo-cal-form contact-form" *ngIf="!formSuccess">
                <div class="form-errors" *ngIf="formError">
                    <p>{{ formError }}</p>
                </div>
               
                <div class="thirds">
                    <ion-item class="border">
                        <ion-label for="first-name" floating>First Name *</ion-label>
                        <ion-input type="text" name="first-name" id="first-name" formControlName="first-name" [ngClass]="{'has-error':!contactForm.controls['first-name'].valid && submittedOnce}"></ion-input>
                        
                    </ion-item>
                    <div class="error-message" *ngIf="!contactForm.controls['first-name'].valid && submittedOnce">This
                            field is required.</div>
                    <ion-item class="border">
                        <ion-label for="last-name" floating>Last Name *</ion-label>
                        <ion-input type="text" name="last-name" id="last-name" formControlName="last-name" [ngClass]="{'has-error':!contactForm.controls['last-name'].valid && submittedOnce}"></ion-input>
                        
                    </ion-item>
                    <div class="error-message" *ngIf="!contactForm.controls['last-name'].valid && submittedOnce">This
                            field is required.</div>
                    <ion-item class="border">
                        <ion-label for="email" floating>Email *</ion-label>
                        <ion-input type="email" name="email" id="email" formControlName="email" [ngClass]="{'has-error':!contactForm.controls['email'].valid && submittedOnce}"></ion-input>
                        
                    </ion-item>
                    <div class="error-message" *ngIf="!contactForm.controls['email'].valid && submittedOnce">This field is required.</div>
                </div>

                <ion-item>
                    <ion-label floating for="comments">Comments</ion-label>
                    <ion-textarea name="comments" id="comments" rows="4" formControlName="comments"></ion-textarea>
                </ion-item>

                <div class="form-section captcha">
                     <re-captcha formControlName="recaptchaReactive"></re-captcha> 
                     <div class="error-message" *ngIf="!contactForm.controls['recaptchaReactive'].valid && submittedOnce">This field is required.</div>
                </div>
               <div class="loading-gif button-size non-full-width" *ngIf="processing"></div>
                <ion-item class="submit-button">
                    <button ion-button block color="red" value="Send" (tap)="submitForm(contactForm)">Send</button>
                </ion-item>

            </form>
            <div class="success-message" *ngIf="formSuccess" [innerHtml]="acf?.contact_message | safeHtml"></div>
        </div>
    </div>
    
    <div class="image-and-text">
        <div class="right">
          <div class="contact-info" *ngIf="acf?.right_details" [innerHtml]="acf?.right_details | safeHtml"></div>
        </div>
        <div *ngIf="mapImage" class="map-image" [ngStyle]="{'background-image': 'url(' + mapImage + ')'}"></div>
    </div>
</ion-content>
