allergens-modal {
  .modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 94%;
    margin: 0 auto;
    z-index: -1;
    padding: 5px 0;
    right: 0;
    background-color: #f4f4f4;
    text-align: right;
    border-radius: 9px;
    border: 1px dotted #ff0f1b;
    &.show {
      display: block;
      z-index: 9999;
      visibility: visible;
      opacity: 1;
    }
    p {
      text-align: left;
      width: 75%;
      margin: 2px auto;
      font-weight: 600;
    }
    .allergen {
      color: #ff0f1b;
      padding-right: 3px;
      font-size: 14px;
    }
    ion-icon {
      font-size: 10px;
      margin-right: 10px;
      padding: 5px 4px 4px 4px;
      background-color: red;
      text-align: center;
      border-radius: 50%;
      color: #f4f4f4;
      font-weight: 800;
      float: right;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
