<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>Payment</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-title>
        <h1>Complete Your Order</h1>
    </ion-title>
    <ion-card>
        <ion-card-content>

            <ion-item (tap)="editSection(1, $event.type)">
                <h1>1. Pickup</h1>
            </ion-item>

            <div class="step-wrapper" [hidden]="sectionOpen !== 1">
                <form action="" [formGroup]="pickupForm">

                    <ion-row radio-group formControlName="pickup-selection">
                        <ion-item>
                            <ion-label for="in-store">In Store Pickup</ion-label>
                            <ion-radio name="in-store" id="in-store" value="1"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label for="curbside">Curbside Pickup</ion-label>
                            <ion-radio name="curbside" id="curbside" value="4"></ion-radio>
                        </ion-item>
                    </ion-row>

                    <ion-row *ngIf="pickupForm.controls['pickup-selection'].value === '4'">

                        <ion-item>
                            <ion-label for="vehicle-make" floating>Vehicle Make</ion-label>
                            <ion-input name="vehicle-make" id="vehicle-make" formControlName="vehicle-make" type="text"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label for="vehicle-model" floating>Vehicle Model</ion-label>
                            <ion-input name="vehicle-model" id="vehicle-model" formControlName="vehicle-model" type="text"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label for="vehicle-color" floating>Vehicle Color</ion-label>
                            <ion-input name="vehicle-color" id="vehicle-color" formControlName="vehicle-color" type="text"></ion-input>
                        </ion-item>

                    </ion-row>
                    <ion-item>
                    <button [disabled]="!pickupForm.valid" (tap)="nextStep()" ion-button color="black">Next Step</button>
                </ion-item>
                </form>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item (tap)="editSection(2, $event.type)">
                <h1>2. Contact Information</h1>
            </ion-item>
            <div class="step-wrapper" [hidden]="sectionOpen !== 2">
                <form action="" [formGroup]="contactInfoForm">
                    <ion-row>
                        <ion-item>
                            <ion-label for="first-name" floating>First Name*</ion-label>
                            <ion-input type="text" id="first-name" name="first-name" formControlName="first-name"></ion-input>
                        </ion-item>
                        <div class="form-control-feedback" *ngIf="!contactInfoForm.controls['first-name'].valid && contactInfoForm.controls['first-name'].dirty">
                            This field is required.</div>
                        <ion-item>
                            <ion-label for="last-name" floating>Last Name*</ion-label>
                            <ion-input type="text" id="last-name" name="last-name" formControlName="last-name"></ion-input>
                        </ion-item>
                        <div class="form-control-feedback" *ngIf="!contactInfoForm.controls['last-name'].valid && contactInfoForm.controls['last-name'].dirty">
                            This field is required.</div>
                        <ion-item>
                            <ion-label for="email" floating>Email*</ion-label>
                            <ion-input type="text" id="email" name="email" formControlName="email"></ion-input>
                        </ion-item>
                        <div class="form-control-feedback" *ngIf="!contactInfoForm.controls['email'].valid && contactInfoForm.controls['email'].dirty">
                            Please enter valid email address.</div>
                        <ion-item>
                            <ion-label for="phone" floating>Phone</ion-label>
                            <ion-input type="text" phone id="phone" name="phone" formControlName="phone"></ion-input>
                        </ion-item>
                        <!-- <div class="form-control-feedback" *ngIf="!contactInfoForm.controls['phone'].valid && contactInfoForm.controls['phone'].dirty">
                                Please enter a valid telephone number.</div> -->
                    </ion-row>
                    <ion-item>
                        <button [disabled]="!contactInfoForm.valid" (tap)="nextStep()" ion-button color="black">Next Step</button>
                    </ion-item>
                </form>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item (tap)="editSection(3, $event.type)">
                <h1>3. Payment Information</h1>
            </ion-item>
            <div class="step-wrapper" [hidden]="sectionOpen !== 3">
                <form action="" [formGroup]="paymentForm">
                    <ion-row radio-group formControlName="payment-choice" [(ngModel)]="paymentChoice">
                        <ion-item>
                            <ion-label for="cc">Pay now with a credit card</ion-label>
                            <ion-radio name="cc" id="cc" value="1"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label for="saved-cc">Pay with saved card</ion-label>
                            <ion-radio name="saved-cc" id="saved-cc" value="3"></ion-radio>
                        </ion-item>
                    </ion-row>

                    <div class="new-card-section" *ngIf="paymentForm.controls['payment-choice'].value === '1'">
                            <div class="form-section half-and-half">
                              <div class="form-component form-component-text">
                                <label for="card-number" class="visuallyhidden">Credit Card Number</label>
                                <input id="card-number" type="tel" autocomplete="cc-number" formControlName="card-number" placeholder="Credit Card Number*" [ngClass]="{'has-error':!paymentForm.controls['card-number'].valid && submittedOnce}" ccNumber #ccNumber (ngModelChange)="detectCardType(ccNumber.value)" [(ngModel)]="cardNumber">
                                <div class="card-sprite-wrapper">
                                  <div class="card visa" title="Visa"></div>
                                  <div class="card mastercard" title="MasterCard"></div>
                                  <div class="card american-express" title="American Express"></div>
                                  <div class="card discover" title="Discover"></div>
                                  <div class="card diners-club" title="Diners Club"></div>
                                </div>
                                <div class="error-message" *ngIf="!paymentForm.controls['card-number'].valid && submittedOnce">This field is required.</div>
                              </div>
                              <div class="form-component form-component-text">
                                <label for="last-name" class="visuallyhidden">Expiration Date</label>
                                <input id="cc-exp-date" name="expiration-date" id="expiration-date" formControlName="expiration-date" placeholder="Expiration Date (mm/yyyy)*" [ngClass]="{'has-error':!paymentForm.controls['expiration-date'].valid && submittedOnce}" type="tel" autocomplete="cc-exp" ccExp>
                                <div class="error-message" *ngIf="!paymentForm.controls['expiration-date'].valid && submittedOnce">This field is required.</div>
                              </div>
                            </div>
                            <div class="form-section half-and-half">
                              <div class="form-component form-component-email">
                                <label for="email" class="visuallyhidden">CVV</label>
                                <input type="text" name="cvv" id="cvv" formControlName="cvv" placeholder="CVV*" [ngClass]="{'has-error':!paymentForm.controls['cvv'].valid && submittedOnce}">
                                <div class="error-message" *ngIf="!paymentForm.controls['cvv'].valid && submittedOnce">This field is required.</div>
                              </div>
                              <div class="form-component form-component-text radio-options" *ngIf="currentCustomer?.CustomerId">
                                <div class="option">
                                  <label for="save-payment">
                                    <input type="checkbox" name="save-payment" id="save-payment" value="save" formControlName="save-payment">
                                    <span class="semi-bold">Save payment for future use?</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>

                </form>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>