page-checkout-payment {
    ion-content {
        &.content-md, &.content-ios {
            background: map-get($colors, light);
        }
    }
    ion-title {
      h1 {
        padding-left: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 700 !important;
      }
    }
    .item-md {
      padding-left: 0 !important;
    }
    .card-sprite-wrapper {

    }
    .option {
      &:first-child {
        margin-bottom: 10px;
      }

      span {
        display: flex;
        align-items: center;
        font-weight: 600;

        &:before {
          content: '';
          display: inline-block;
          width: 30px;
          height: 30px;
          vertical-align: -0.25em;
          border-radius: 50%;
          border: 1px solid #000;
          margin-right: 0.75em;
          transition: all 300ms ease-in-out;
        }
      }

      input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

        &:checked {
          +span:before {
            background: none, url('/assets/images/checkmark.svg') no-repeat;
          }
        }

      }
    }
    input{
      width: 100%;
      &::placeholder {
        font-weight: 600
      }
    }
    .item-md .item-button {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    ion-item {
      h1 {
        font-weight: 700 !important;
      }
    }
    .scroll-content {
      padding-bottom: 50px;
    }
    .card-md {
      margin: 15px;
      width: calc(100% - 30px);
    }
    .location-details {
      a {
        color: #ff0f1b;
      }
      p {
        margin: 0;
        padding-left: 15px;
        &:nth-child(4) {
          padding-left: 0;
        }
        &:nth-child(3) {
          font-size: 13px;
          line-height: 1.62;
          letter-spacing: 0.6px;
          color: rgba(30, 30, 30, 0.99);
          padding-bottom: 15px;
        }
      }
      .promotion-text {
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 1.1px;
        color: rgba(30, 30, 30, 0.99);
        padding-bottom: 12px;
      }
      div div {
        padding-left: 15px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        color: rgba(30, 30, 30, 0.99);
        padding-top: 12px;
        a {
          font-weight: 700;
          letter-spacing: 0.7px;
          color: #ff0f1b;
          text-decoration: none;
        }
      }
      img {
        margin: 0;
        width: 100%;
      }
      strong {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.7px;
        text-transform: capitalize;
        padding-bottom: 5px;
        display: inline-block;
      }
  }
  .new-card-section {
    .border {
      border-bottom: 1px solid #000;
      padding: 8px 4px;
    }
    .radio-options {

    padding: 8px 4px;
    }
  }
  .form-component-email {
    margin-bottom: 20px;
  }
  .order-summary {
    padding: 0 15px;
    font-weight: 700;
    h4 {
      font-size: 2.3rem;
      margin-top: 25px;
      margin-bottom: 20px;
      font-weight: 700;
    }
    .item {
      margin: 0 0 12px;
    }
    .item-name {
      text-transform: uppercase;
    }
    .flex-between {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
    }
    .subtotal {
      border-top: 1px dotted;
    }
    .pricing-details {
      margin: 35px 0 50px;
      .flex-between {
        padding: 7px 0;
      }
      span {
        font-weight: 500;
        font-size: 12.5px;
      }
      .total {
        border-top: 1px solid;
        span {
          font-size: 14px;
          font-weight: 700;
        }
      }
      .button {
        width: 100%;
        span {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
  .save-payment {
    margin-top: 20px;
    display: inline-block;
  }
  #expiration-date {
    width: 100%;
  }

  .card-sprite-wrapper{
    padding-top: 7px;
    padding-left: 8px;
    .card{
      background: url("../../assets/icon/cc-sprite.png");
      display: inline-block;
      margin: 0 0 0 2px;
      width: 21px;
      height: 15px;
      opacity: .7;
      @include transition(opacity);

      &:first-child{
        margin: 0;
      }

      &.visa{
        background-position: 0 15px;
      }
      &.mastercard{
        background-position: -21px 15px;
      }
      &.american-express{
        background-position: -42px 15px;
      }
      &.discover{
        background-position: -63px 15px;
      }
      &.diners-club{
        background-position: -84px 15px;
      }

      &.active{
        opacity: 1;
        background-position-y: 0;
      }
    }
  }

  #card-number{
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 8px 4px;
    &.mastercard + .card-sprite-wrapper .mastercard{
      opacity: 1;
      background-position-y: 0;
    }

    &.dinersclub + .card-sprite-wrapper .diners-club{
      opacity: 1;
      background-position-y: 0;
    }

    &.visa + .card-sprite-wrapper .visa{
      opacity: 1;
      background-position-y: 0;
    }

    &.discover + .card-sprite-wrapper .discover{
      opacity: 1;
      background-position-y: 0;
    }

    &.amex + .card-sprite-wrapper .american-express{
      opacity: 1;
      background-position-y: 0;
    }
  }
  .additions {
    max-width: 200px;
    padding-top: 7px;
    .modifier {
      font-size: 12px;
      color: #ff0f1b;
      margin: 0 4px 0 0;
    }
  }
  .loading-gif {
    background-image: url(../../assets/icon/loading-eclipse.svg);
    height: 35px;
    width: 35px;
    background-size: cover;
    margin: 10px auto;
  }
}
