featured-media {
  .featured-media-holder {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    position: relative;
    padding: 164px;
    @include breakpoint(768px) {
      padding: 280px;
    }
    &:before {
      @extend %overlay;
    }
  }
}
