page-signup {

    form {
        ion-list {
            ion-col {
                button {
                    ion-icon {
                        font-size: 12px;
                        padding-top: 2px;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}
