page-signup {

    form {
        ion-list {
            ion-col {
                button {
                    ion-icon {
                        font-size: 12px;
                        padding-top: 2px;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    .loading-gif {
        background: url("../assets/icon/loading-eclipse.svg");
        background-size: 100%;
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }
    .account-success, .account-exists {
        padding-top: 90px;
        h2 {
            font-size: 35px;
            text-align: center;
        }
    }
    .account-exists {
        padding-top: 137px;
        h2 {
            font-size: 27px;
            text-align: center;
        }
    }



}
.alert-md .alert-radio-label {
    white-space: pre-wrap !important;
}
