<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="hamburger-menu" class="small-icon"></ion-icon>
        </button>
        <ion-title>Sign Up</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h2>Create an account.</h2>
    <p>
        Get past orders, save your payment methods and more.
    </p>
    <div class="signup-loading" *ngIf="processing">
        <p *ngIf="accountExists">It looks like an account with that email already exists. Log in <a href="#" [navPush]="'LoginPage'">here</a></p>
        <div class="account-success" *ngIf="accountCreated">
            <h2>Success!</h2>
            <p class="form-control-feedback">Your account has been created. Keep an eye out for an email from us with your login information. Please return to the <a href="#" [navPush]="'LoginPage'">login</a> page to proceed.</p>
        </div>
        <div *ngIf="processing" class="loading-gif"></div>
    </div>

    <form *ngIf="!processing" [formGroup]="signupForm" (ngSubmit)="save( signupForm )" novalidate>
        <ion-list>
            <div formGroupName="custInfo" *ngIf="!custInfoComp">
                <h4>
                    Let's start with the basics ...
                </h4>
                <ion-item [ngClass]="{ 'has-error': firstName.invalid && firstName.dirty }" no-padding>
                    <ion-label floating>First Name</ion-label>
                    <ion-input type="text" name="firstName" formControlName="firstName"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': lastName.invalid && lastName.dirty }" no-padding>
                    <ion-label floating>Last Name</ion-label>
                    <ion-input type="text" name="lastName" formControlName="lastName"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': email.invalid && email.dirty }" no-padding>
                    <ion-label floating>Email</ion-label>
                    <ion-input type="email" name="email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': phone.invalid && phone.dirty }" no-padding no-lines no-border>
                    <ion-label floating>Telephone</ion-label>
                    <ion-input type="text" phone name="phone" formControlName="phone" autocomplete="new-password"></ion-input>
                </ion-item>
            </div>
            <p class="form-control-feedback" *ngIf="signupForm.hasError('custInfoInvalid','custInfo')">All fields are required. </p>
            <ion-row *ngIf="!custInfoComp">
                <ion-col no-padding>
                    <button type="button" ion-button block no-border [disabled]="!custInfo.valid" color="red" (tap)="nextStep('info')">
                        Next <ion-icon class="featured-title-icon" name="chevron" color="white"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <div formGroupName="address" *ngIf="!addressComp && custInfoComp">
                <h4>
                    Now the address info ...
                </h4>
                <ion-item [ngClass]="{ 'has-error': line1.invalid && line1.dirty }" no-padding>
                    <ion-label floating>Address</ion-label>
                    <ion-input type="text" name="line1" formControlName="line1"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': line2.invalid && line2.dirty }" no-padding>
                    <ion-label floating>Address Line 2</ion-label>
                    <ion-input type="text" name="line2" formControlName="line2"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': city.invalid && city.dirty }" no-padding>
                    <ion-label floating>City</ion-label>
                    <ion-input type="text" name="city" formControlName="city"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': state.invalid && state.dirty }" no-padding>
                    <ion-label floating>State</ion-label>
                    <ion-input type="text" name="state" formControlName="state"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{ 'has-error': zip.invalid && zip.dirty }" no-padding no-lines no-border>
                    <ion-label floating>Zip Code</ion-label>
                    <ion-input type="number" name="zip" formControlName="zip"></ion-input>
                </ion-item>
                <p class="form-control-feedback" *ngIf="signupForm.hasError('notComplete','address')">Please fill out all required fields </p>

            </div>
            <ion-row *ngIf="!passwordsComp && custInfoComp && !addressComp">
                <ion-col class="spacing" no-padding>
                    <button type="button" ion-button block no-border [disabled]="!custInfo.valid" color="red" (tap)="nextStep('info')">
                        Back
                    </button>
                </ion-col>
                <ion-col no-padding>
                    <button type="button" ion-button block no-border [disabled]="!address.valid" color="red" (tap)="nextStep('passwords')">
                        Next
                    </button>
                </ion-col>
            </ion-row>
            <div formGroupName="passwords" *ngIf="!passwordsComp && custInfoComp && addressComp">
                <h4>
                    Set your password ...
                </h4>
                <p class="help-text">Your password needs to be at least 8 characters long, and contain at least one lowercase, one uppercase letter and at least one number.</p>
                <ion-item no-padding>
                    <ion-label floating>Password.</ion-label>
                    <ion-input type="password" name="password" formControlName="password"></ion-input>
                </ion-item>
                <p class="form-control-feedback" *ngIf="signupForm.hasError('notValid','passwords')">Password requirements not met </p>

                <ion-item no-padding>
                    <ion-label floating>Confirm your password.</ion-label>
                    <ion-input type="password" name="confirm" formControlName="confirm"></ion-input>
                </ion-item>
                <p class="form-control-feedback" *ngIf="signupForm.hasError('notSame','passwords')">Please ensure your password matches the confirmation. </p>
                <ion-item no-padding>
                    <ion-label floating>Write a security question.</ion-label>
                    <ion-input type="text" name="question" formControlName="question"></ion-input>
                </ion-item>
                <ion-item no-padding no-lines no-border>
                    <ion-label floating>The answer.</ion-label>
                    <ion-input type="text" name="answer" formControlName="answer"></ion-input>
                </ion-item>
            </div>
            <ion-row *ngIf="!passwordsComp && custInfoComp && addressComp">
                <ion-col class="spacing" no-padding>
                    <button type="button" ion-button block no-border [disabled]="!custInfo.valid" color="red" (tap)="nextStep('passwords')">
                        Back
                    </button>
                </ion-col>
                <ion-col no-padding>
                    <button type="submit" ion-button block no-border [disabled]="!signupForm.valid" color="red" class="login-button">
                        Create Account
                    </button>
                </ion-col>
            </ion-row>

            <!-- <ion-row *ngIf="signupForm.valid">
                <ion-col no-padding>
                    <button type="submit" ion-button block no-border [disabled]="!signupForm.valid" color="red" class="login-button">
                        Log In
                    </button>
                </ion-col>
            </ion-row> -->
        </ion-list>
    </form>

</ion-content>
