<ion-content>

    <div class="menu" no-padding>
        <h2 class="menu-heading">Category</h2>
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-4 *ngFor="let category of categories; let i = index" no-margin>
                    <ion-card (click)="pushPage(i)" no-margin class="full-width no-shadow light-background menu-item" *ngIf="menu_images">
                        <img class="food-item" [src]=retrieveMenuImages(category.SubMenuId)/>
                        <ion-card-content no-padding class="menu-item-content">
                            <ion-card-title text-center class="menu-item-content-title">{{category.Name}}</ion-card-title>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="featured" no-padding>
        <h2 class="menu-heading">Featured Items</h2>
        <ion-card no-margin class="full-width">
            <img class="food-item" src="http://via.placeholder.com/370x165" />
            <ion-card-content no-padding>
                <ion-card-title>
                    <ion-row>
                        <ion-col col-11>
                            Alamo Salad
                        </ion-col>
                        <ion-col text-right col-1>
                            <ion-icon class="featured-title-icon" name="chevron"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-title>
                <p class="featured-description">Romaine, grilled shrimp, cucumber, tomato, kalamata olives, feta, chickpeas, something else, greek dressing</p>
            </ion-card-content>
            <ion-row class="featured-meta">
                <ion-col col-3 class="border">
                    <span class="price">$12.99</span>
                </ion-col>
                <ion-col col-3 text-center class="border">
                    <span class="calories">360 cal</span>
                </ion-col>
                <ion-col col-4 text-center>
                    <span class="allergen">
                        <ion-icon name="vegan"></ion-icon>
                        <ion-icon name="paleo"></ion-icon>
                        <ion-icon name="veget"></ion-icon>
                    </span>
                </ion-col>
                <ion-col col-2 text-right>
                    <span class="add">Add</span>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card no-margin class="full-width">
            <img class="food-item" src="http://via.placeholder.com/370x165" />
            <ion-card-content no-padding>
                <ion-card-title (tap)="openMenuItem()">
                    <ion-row>
                        <ion-col col-11>
                            Alamo Salad
                        </ion-col>
                        <ion-col text-right col-1>
                            <ion-icon class="featured-title-icon" name="chevron"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-title>
                <p class="featured-description">Romaine, grilled shrimp, cucumber, tomato, kalamata olives, feta, chickpeas, something else, greek dressing</p>
            </ion-card-content>
            <ion-row class="featured-meta">
                <ion-col col-3 class="border">
                    <span class="price">$12.99</span>
                </ion-col>
                <ion-col col-3 text-center class="border">
                    <span class="calories">360 cal</span>
                </ion-col>
                <ion-col col-4 text-center>
                    <span class="allergen">
                        <ion-icon name="vegan"></ion-icon>
                        <ion-icon name="paleo"></ion-icon>
                        <ion-icon name="veget"></ion-icon>
                    </span>
                </ion-col>
                <ion-col col-2 text-right>
                    <span class="add">Add</span>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>

